/* customToastify.css */
.Toastify__toast--custom {
  background-color: #a16040;
  color: #fbf8ee;
  font-size: 16px;
}
.Toastify__progress-bar--custom {
  color: white;
}
/*
    main: "#FFF7DB",
    base: "#FBF8EE",
    point: "#A16040",
*/
